.shop-body{
   width:1000px; 
    .shop-list{
      list-style: none;
        .shop-item{
            display:flex;
           
            .shop-img{
                width: 20%;
                .img{
                    width: 150px;
                }

             
            }
            .shop-info{
                width:60%;
                
                .shop-name{

                }
                .shop-address{

                }
            }
            
            .shop-thaotac{
                color : red;
                width :40px;
            }
            .shop-thaotac:hover{
            color :black;

            }
        }
    }
}